# jaws binary and configuration files
jaws.conf
jaws
*.jaws
!docker.jaws
!cmd/jaws

# secrets
.secrets
**/*service-account.json
!src/secrets

# goreleaser builds
dist/

# nix
result
.direnv/

!.envrc
.env


# Added by cargo

/target
