# jaws binary and configuration files
jaws.kdl
jaws
*.barrel
!docker.jaws
!cmd/jaws

# secrets
.secrets
**/*service-account.json
!src/secrets

# goreleaser builds
dist/

# nix
result
.direnv/

!.envrc
.env
.op_token


# Added by cargo

/target
