general {
  default_profile = "default"
  disable_auto_detect = true
  editor = "hx"
  gh_token = ""
  repo_warn = false
  safe_mode = true
  secrets_path = "~/.config/jaws/secrets"
}

manager "aws" "default" {
    profile = "default"
}
