{{- with .General }}
general {
  default_profile = {{ .DefaultProfile | default "default" }}
  {{- if .Editor }}
  editor = {{ .Editor }}
  {{- end }}
  {{- if .SecretsPath }}
  secrets_path = {{ .SecretsPath }}
  {{- end }}
}
{{- end }}

{{- range $manager := .Managers }}
manager {{ $manager.Platform }} {{ $manager.Profile }} {
  {{ $manager.Auth | default "" }}
}
{{ end }}